:root {
  --clr-neutral-900: hsl(233, 54%, 16%);
  --clr-primary: hsl(234, 25%, 52%);
  --clr-neutral-500: hsl(232, 10%, 56%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-link: hsl(341, 92%, 62%);
  --clr-link-hover: hsl(341, 100%, 83%);
  --gradient-header: linear-gradient(to bottom, hsl(13, 100%, 64%), hsl(322, 87%, 55%));
  --gradient-footer: linear-gradient(to bottom, hsl(237, 100%, 64%), hsl(322, 87%, 55%));
  --gradient-header-hover: linear-gradient(to bottom, hsl(13, 100%, 84%), hsl(322, 87%, 75%));
  --gradient-footer-hover: linear-gradient(to bottom, hsl(237, 100%, 84%), hsl(322, 87%, 75%));
  --gradient-bg: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(236, 100%, 97%));

  --wrapper-width: 100%;
  --fw-bold: 800;
  --fw-medium: 500;
  --fs-heading-xl: 3.5rem;
  --fs-heading-l: 2.5rem;
  --fs-heading-m: 2rem;
  --fs-heading-s: 1.5rem;
  --fs-heading-xs: 1.125rem;
  --fs-body-m: 1.125rem;
  --fs-body-s: 1rem;
  --lh-heading-xl: 4.375rem;
  --lh-heading-l: 3.25rem;
  --lh-heading-m: 2.5rem;
  --lh-heading-s: 1.75rem;
  --lh-body-m: 1.75rem;
  --lh-body-s: 1.75rem;

}


body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--gradient-bg);

}

.courses {
  flex-shrink: 0;
}

/* Utilities */
.wrapper {
  max-width: var(--wrapper-width);
  min-width: var(--wrapper-width);
  margin: 0 auto;
}

.btn {
  font-size: var(--fs-body-s);
  line-height: var(--lh-body-s);
  width:8.75rem;
  height: 3rem;
  border: 0;
  border-radius: 2rem;
  color: var(--clr-neutral-100);
  cursor: pointer;
}

.header__title {
  font-size: var(--fs-heading-l);
  line-height: var(--lh-heading-l);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-900);
}

.card__heading {
  font-size: var(--fs-heading-xs);
  line-height: var(--lh-heading-s);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-900);
}

.card__title {
  font-size: var(--fs-heading-s);
  line-height: var(--lh-heading-s);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
}

/* Header section */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar__btn {
  background-color: var(--clr-neutral-900);
}

.topbar__btn:hover {
  background-color: var(--clr-primary);
}

.header__btn {
  width: 10.5rem;
  height: 3.5rem;
  background-image: var(--gradient-header);
}

.header__btn:hover {
  background-image: var(--gradient-header-hover);
}

.header__text {
  font-size: var(--fs-body-s);
  line-height: var(--lh-body-s);
  color: var(--clr-neutral-500);
}

/* Main section */
.courses {
  min-width: var(--wrapper-width);
}

.card {
  background-color: var(--clr-neutral-100);
}
.card--title {
  background-image: var(--gradient-header);
}

.card__text {
  font-size: var(--fs-body-s);
  line-height: var(--lh-body-s);
  color: var(--clr-neutral-500);
}

.card__link {
  font-size: var(--fs-body-m);
  line-height: var(--lh-body-m);
  text-decoration: none;
  color: var(--clr-link);
}

.card__link:hover {
  color: var(--clr-link-hover);
}

/* Footer */
footer {
  background-color: var(--clr-neutral-900);
  margin-top: auto;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__btn {
  background-image: var(--gradient-footer);
}

.footer__btn:hover {
  background-image: var(--gradient-footer-hover);
}

/* tablet size */
/* Why I use em units form media queries https://zellwk.com/blog/media-query-units/ */
@media screen and (min-width:48em) {
  :root {
    --wrapper-width: 43rem;
  }
}

/* Desktop size */
/* Why I use em units form media queries https://zellwk.com/blog/media-query-units/ */
@media screen and (min-width:80em) {
  :root {
    --wrapper-width: 90rem;
  }

  .btn {
    font-size: var(--fs-body-m);
    line-height: var(--lh-body-m);
    width: 10.5rem;
    height: 3.5rem;
  }

  .header__btn {
    height: 4rem;
  }

  .header__title {
    font-size: var(--fs-heading-xl);
    line-height: var(--lh-heading-xl);
  }

  .header__text {
    font-size: var(--fs-body-m);
    line-height: var(--lh-body-m);
  }

  .card__heading {
    font-size: var(--fs-heading-s);
  }

  .card__title {
    font-size: var(--fs-heading-m);
    line-height: var(--lh-heading-m);
  }
}